<div class="container">
    <div class="l-s">
        <div class="section-wrapper">
            <div class="logo">
            <div class="illust-woman"></div>
            <div class="illust-man"></div>
            </div>
        </div>
    </div>
    <div class="r-s">
        <div class="section-wrapper">
            <div class="login">
                <div class="title" style="padding-bottom: 40px;">Time to Work!</div>
                <form>
                    <div style="margin-bottom: 60px">
                        <label>Email</label>
                        <div class="input">
                            <input value="user@example.com" type="text">
                        </div>
                    </div>

                    <div style="margin-bottom: 46px;">
                        <label>Password</label>
                        <div class="input">
                            <input type="password">
                        </div>
                    </div>
                    <div class="button" routerLink="/user">Sign In</div>
                </form>
            </div>
        </div>
    </div>
</div>